mixin sorts(modifier)
  section.sorts&attributes(attributes)
    .sorts__area
      .sorts__range
        h2.sorts__range-title На выбор более 30 сортов кофе
        p.sorts__range-text Предлагаем ТОП ассортимент: смеси, моносорта и микролоты из&nbsp;Бразилии, Колумбии, Гватемалы, Мексики, Коста-Рики, Гондураса, Эфиопии, Вьетнама, Перу и Сальвадора
      ul.sorts__pricelist
        li.sorts__price-item
          img.sorts__price-photo(src="img/pack.png" alt="Упаковка с кофе")
          h3.sorts__price-title Бразилия Суль Де Минас
          p.sorts__price-text С нотами арахиса, какао и цедры лимона. По мере остывания напитка добавляются ягодные оттенки.
          p.sorts__price от 480 ₽ / кг.
        li.sorts__price-item
          img.sorts__price-photo(src="img/pack.png" alt="Упаковка с кофе")
          h3.sorts__price-title Колумбия Эксельсо
          p.sorts__price-text С нотами какао, цветов и меда. Легкая кислинка фруктового вина.
          p.sorts__price от 480 ₽ / кг.
        li.sorts__price-item
          img.sorts__price-photo(src="img/pack.png" alt="Упаковка с кофе")
          h3.sorts__price-title Бон-а-бон
          p.sorts__price-text С нотами арахиса, горького шоколада и легкой кислинкой фруктовых вин. 
          p.sorts__price от 480 ₽ / кг.
        