mixin principles(modifier)
  section.principles&attributes(attributes)
    .principles__area
      .principles__info
        h2.principles__title Работаем быстро —&nbsp;ценим ваше время
        p.principles__text Моментально обрабатываем заявки поступающие с сайта, высылаем оптовый прайс и помогаем определиться<br>с сортом кофе.
        p.principles__text Запускаем вашу партию в производство в течении суток&nbsp;после заказа.
        p.principles__text По готовности сразу передаем в отдел доставки и&nbsp;присылаем вам трек-номер для отслеживания.
      img.principles__photo(src="img/principles.png" alt="")