mixin principles(modifier)
  .principles&attributes(attributes)
    section.principles__area
      .principles__info
        h2.principles__title Работаем быстро<br>— ценим ваше время
        p.principles__text Моментально обрабатываем заявки поступающие с сайта, высылаем оптовый прайс и помогаем определиться с сортом кофе.
        p.principles__text Запускаем вашу партию в производство в течении суток после заказа.
        p.principles__text По готовности сразу передаем в отдел доставки и присылаем вам трек-номер для отслеживания.
      img.principles__photo(src="img/principles.png")