.about {
  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  &__info {
    max-width: 500px;
  }

  &__title {
    margin-bottom: 8px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    text-transform: uppercase;
    color: #1A1C1D;
  }

  &__text {
    margin: 32px 0;
    font-size: 17px;
    line-height: 140%;
    color: #32363C;
  }

  &__photo {
    margin-right: -140px;
  }
}
