mixin about(modifier)
  section.about&attributes(attributes)
    .about__area
      .about__info
        h2.about__title Обжариваем и&nbsp;доставляем свежий кофе с&nbsp;2013&nbsp;года
        p.about__text За много лет приобрели опыт, стали экспертами производства обжарки кофе и&nbsp;при этом остались людьми, всё это помогает нам производить совершенный кофе для всех наших клиентов.
        p.about__text Мы проводим контрольные капинги и&nbsp;заключаем контракты на&nbsp;поставки отборного зерна каждый новый урожай.
        p.about__text Имеем собственное технологичное производство в&nbsp;Санкт-&nbsp;Петербурге, производственная мощность которого 5&nbsp;000&nbsp;кг. в сутки.
      img.about__photo(src="img/aboutCoffee.png" alt="")