.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;

  &__info {
    max-width: 500px;
  }
  &__title {
    margin-bottom: 8px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: px-to-em(40);
    line-height: lh-to-pct(59, 40);
    text-transform: uppercase;
    color: #1A1C1D;
  }
  &__text {
    margin: 32px 0;
    font-size: px-to-em(17);
    line-height: 140%;
    color: #32363C;
  }
  &__photo {
    margin-right: -140px;
  }
  @media screen and (max-width: 1440px) {
    padding: 0 15px;

    &__photo {
      max-width: 550px;
      margin: 0 -15px 0 10px;
    }    
  }
  @media screen and (max-width: 1100px) {
    &__title {
      font-size: px-to-em(36);
    }
    &__text {
      font-size: 1em;
    }
  }
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }
  @media screen and (max-width: 678px) {
    &__photo {
      max-width: 450px;
    }
  }
  @media screen and (max-width: 524px) {
    &__photo {
      margin: 0;
      max-width: 320px;
    }
  }
}
