.request {
  position: relative;
  background: #F5F8F9;
  &--header {
    display: none;
  }
  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  &__photo {
    margin-top: 10px;
    &--holder {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: 0;
      transform: translateY(-50%);
    }
    &--cup {
      margin-left: -22px;
    }
  }
  &__info {
    max-width: 705px;
    margin-left: auto;
    padding: 74px 0 56px;
    &--cup {
      padding-top: 100px;
    }
  }
  &__slogan {
    max-width: 400px;
    margin-bottom: 10px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: px-to-em(40);
    line-height: lh-to-pct(59, 40);
    text-transform: uppercase;
    color: #1A1C1D;
  }
  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: px-to-em(24);
    line-height: lh-to-pct(36, 24);
    text-transform: uppercase;
    color: #1A1C1D;
    &--cup {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: px-to-em(17);
      line-height: 140%;
      color: #1A1C1D;
      text-transform: none;
    }
  }
  &__form {
    display: flex;
    align-items: center;
  }
  &__field {
    width: 444px;
    margin: 20px 20px 20px 0;
    padding: 20px;
    font-size: px-to-em(17);
    line-height: 140%;
    color: rgba(#32363C, 0.4);
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    transition: 0.5s;
    &:hover {
      border: 1px solid #989A9D;
    }
    &:focus {
      outline: none;
      border: 1px solid #009688;
    }
  }
  &__submit {
    padding: 20px 45px;
    font-size: px-to-em(18);
    line-height: lh-to-pct(22, 18);
    font-weight: 600;
    color: #FFFFFF;
    background: #009688;
    border-radius: 100px;
    border: none;
    transition: 0.5s;
    &:hover {
      background: #00B0A0;
      box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
    &:active {
      background: #007D71;
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
  &__text {
    max-width: 445px;
    font-size: px-to-em(15);
    line-height: 140%;
    color: #989A9D;
  }
  @media screen and (max-width: 1440px) {
    &__photo--holder {
        position: static;
        transform: none;
        margin-left: -15%;
    }
  }
  @media screen and (max-width: 1100px) {
    &__area {
      padding: 0 15px;
    }
    &__photo {
      object-fit: contain;
      &--cup {
        margin-right: -22px;
      }
    }
    &__field {
      margin-right: 10px;
    }
    &__submit {
      padding: 18px 38px;
      font-size: 1em;
      line-height: 120%;
    }
  }
  @media screen and (max-width: 1050px) {
    &__photo {
      width: 340px;
      &--holder {
        margin-left: -15px;
      }
      &--cup {
        padding-bottom: 100px;
      }
    }
    &__field {
      width: 400px;
      padding: 16px;
    }
  }
  @media screen and (max-width: 991px) {
    &--header--active {
      display: block;
      position: absolute;
      width: 100%;
      .request__info {
        padding: 40px 0 110px;
      }
    }
    &__area {
      flex-direction: column;
    }
    &__photo {
      order: 1;
      width: max-content;
      &--holder {
        margin-top: -5%;
        margin-left: -50%;
      }
    }
    &__info {
      margin-left: 0;
      padding-bottom: 0;
    }
    &__field {
      max-width: 444px;
      margin-right: 20px;
      padding: 20px;
    }
    &__submit {
      padding: 20px 45px;
    }
  }
  @media screen and (max-width: 678px) {
    &--header--active {
      .request__title {
        text-align: center;
      }
      .request__text {
        max-width: 100%;
      }
    }
    &__photo {
      margin-top: 40px;
      &--holder {
        max-width: 490px;
        margin: -50px 0;
        transform: translateX(-20%);
      }
      &--cup {
        margin: 0;
        max-width: 360px;
      }
    }
    &__info {
      padding: 80px 0 0 0;
    }
    &__title--pack {
      text-align: center;
    }
    &__form {
      flex-direction: column;
    }
    &__field {
      width: 100%;
      max-width: 100%;
      margin: 40px 0 30px;
    }
    &__text {
      max-width: 330px;
      margin: 16px auto 0;
      text-align: center;
    }
  }
  @media screen and (max-width: 360px) {
    &__photo {
      max-width: 310px;
    }
  }
}