include ../blocks/hello/hello.pug
include ../blocks/request/request.pug
include ../blocks/header/header.pug
include ../blocks/advantages/advantages.pug
include ../blocks/about/about.pug
include ../blocks/principles/principles.pug
include ../blocks/delivery/delivery.pug
include ../blocks/production/production.pug
include ../blocks/sorts/sorts.pug
include ../blocks/staff/staff.pug
include ../blocks/pricing/pricing.pug
include ../blocks/footer/footer.pug
include ../blocks/stages/stages.pug
include ../blocks/reviews/reviews.pug
include ../blocks/subscribe/subscribe.pug
