mixin hello(modifier)
  section.hello
    .hello__area
      .hello__info
        h1.hello__title Закупайте кофе оптом с&nbsp;доставкой по всей России
        .hello__slogan 
          span.hello__phrase Сначала пробуйте
          span.hello__dash -
          span.hello__phrase потом закупайте
        p.hello__text Отправим бесплатный пробник кофе — на&nbsp;выбор более 30 сортов свежей обжарки для фильтра и эспрессо.
      img.hello__photo(src="img/hello.jpg" alt="Photo")