mixin reviews(modifier)
  section.reviews&attributes(attributes)
    h2.reviews__title Что о нас говорят наши клиенты
    .reviews__block
      button.reviews__btn.reviews__btn--prev(type="button") 
        include ./img/arrow.svg
      .reviews__slides
        .reviews__content
          .reviews__images 
            img.reviews__client-photo(src="img/karina.png" alt="")
            img.reviews__logo(src="img/huvitz.png" alt="")
          .reviews__text-content
            h3.reviews__client-name Карина
            p.reviews__client-company Генеральный директор OOO “Huvitz”
            p.reviews__text Очень удобно, что в наше время стала жизнь проще и есть такие вот компании, как ПКМ. Мы давно мечтали купить на работу кофемашину и пить вкусный кофе, но цены на хорошую очень высоки, а вот взять кофемашину в аренду бесплатно при покупке качественного кофе вполне доступно. Узнала об этой компании от друзей. Они уже около года работают с ними и мы очень довольны обслуживанием. Машины все в идеальном состоянии, работают прекрасно, без нареканий. Машины чистят и проверяют регулярно. Так что у нас голова ни о чем не болит!
        .reviews__content
          .reviews__images 
            img.reviews__logo(src="img/coffeeLike.png" alt="")
          .reviews__text-content
            h3.reviews__client-name Сеть кофеен Coffee Like
            p.reviews__client-company Крупнейшая сеть  “кофе с собой” в России
            p.reviews__text Берем в аренду профессиональное кофейное оборудование у “ПКМ” уже долгое время. Довольны как качеством оборудования, так и сервисом компании. Всегда оперативно решают проблемы с ремонтом и обслуживанием, хотя ремонт практически никогда и не требуется, потому, что машины очень надежные. Тот самый случай, когда компания решает проблемы клиента и не создает дополнительных, за что, большое вам спасибо!
        .reviews__content
          .reviews__images 
            img.reviews__logo(src="img/bakery.png" alt="")
          .reviews__text-content
            h3.reviews__client-name «Британские пекарни»
            p.reviews__client-company Известные пекарни в Санкт-Петербурге
            p.reviews__text Заказываем на регулярной основе как простой кофе, так и кофе в чалдах без кофеина, горячий шоколад и много другой вкусной продукции у “ПКМ”. Всем довольны, все вкусно. Классные кофемашинки, выдерживают большой поток без перебоев.Приятно с вами работать, желаем большого роста и процветания!
        .reviews__content
          .reviews__images 
            img.reviews__logo(src="img/varletStudio.png" alt="")
          .reviews__text-content
            h3.reviews__client-name Студия красоты Varlet Studio
            p.reviews__client-company Студия красоты с большим потоком клиентов
            p.reviews__text Пользуемся вашими кофемашинами в салонах нашей студии, очень удобный и оперативный сервис , а наши гости довольны кофейными комплиментами во время маникюра и педикюра.
        .reviews__content
          .reviews__images 
            img.reviews__logo(src="img/committee.png" alt="")
          .reviews__text-content
            h3.reviews__client-name Комитет по физической культуре и спорту Гатчинского муниципального района.
            p.reviews__text Сотрудничаем с ПКМ при проведении мероприятий в Гатчинском муниципальном районе. Подарочные изделия от ПКМ, а так же организация кофепойнтов на соревнованиях и праздниках выше всяких похвал. Комитет рекомендует выбирать в качестве партнеров компанию ПКМ.
        .reviews__content
          .reviews__images 
            img.reviews__logo(src="img/intra.png" alt="")
          .reviews__text-content
            h3.reviews__client-name ООО «Сервисная Компания Интра»
            p.reviews__client-company Ведущая российская компания, выполняющая весь комплекс услуг в области безостановочных ремонтов трубопровода.
            p.reviews__text Пользуемся услугами компании ПКМ уже на протяжении более двух лет. Радует организованность и пунктуальность доставок; в случае неисправности кофемашин оперативно предоставляется либо новая техника, либо производится ремонт на месте согласно договору в течение 48 часов без задержек. В нашем офисе работает 5 кофемашин от ПКМ, поэтому так важно, что оборудование полностью обслуживалось предоставляющей компанией от и до. Кофе всегда привозят свежей обжарки, никогда не встречаются пачки полугодовой давности. Спасибо ПКМ за бодрость нашей компании.
        .reviews__content
          .reviews__images 
            img.reviews__logo(src="img/nevaStars.png" alt="")
          .reviews__text-content
            h3.reviews__client-name Звезда Невы
            p.reviews__text В первую очередь, хотим сказать, что это вкуснейший и качественный кофе! Всегда очень приятный аромат и яркий вкус, прям как в рекламе. Также, хотим выразить благодарность ребятам за отличный сервис, быстрое обслуживание и удобные кофемашины. Это не идеальное соотношения цены и качества, потому, что уровень качества намного выше цены! Всем рекомендуем.
      button.reviews__btn.reviews__btn--next(type="button")
        include ./img/arrow.svg