mixin subscribe(modifier)
  section.subscribe&attributes(attributes)
    .subscribe__area
      h2.subscribe__title Подписывайтесь на&nbsp;новости и акции
      form.subscribe__form  
          input.subscribe__field(type="email" placeholder="Введите ваш email" required)
          button.subscribe__submit Подписаться