.footer {
  margin-top: 118px;
  border-top: 1px solid #EAEAEA;

  &__area, &__copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  &__area {
    padding: 50px 0 40px;
  }
  &__block {
    max-width: 225px;
  }
  &__logo {
    margin: calc(-50% + -10px) 0px 20px; //не придумала как по другому
  }
  &__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #9F9F9F;
  }
  &__category {
    margin: 8px 0 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #32363C;
  }
  &__category-item {
    margin-bottom: 16px;
  }
  &__category-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9F9F9F;
  }
  &__category-link:hover {
    color:#009688;
  }
  &__phone-link {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32363C;
  }
  &__socials {
    display: flex;
    margin: 16px 0;
  }
  &__social-item {
    margin-right: 10px;
  }
  &__email-link, &__address {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D30;
  }
  &__address {
    margin: 16px 0 4px;
  }
  &__map-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #2F80ED;
  }
  &__copyright {
    padding: 20px 0;
    border-top: 1px solid #EAEAEA;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
  }
  &__privacy-link {
    text-decoration: none;
    color: #9F9F9F;
  }
}
