.footer {
  margin-top: 118px;
  border-top: 1px solid #EAEAEA;

  &__area, &__copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  &__area {
    padding: 50px 0 40px;
  }
  &__block, .contacts {
    display: flex;
    flex-direction: column;
    max-width: 225px;
  }
  &__logo {
    margin: calc(-50% + -10px) 0px 20px; //не придумала как по другому
  }
  &__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: px-to-em(14);
    line-height: 130%;
    color: #9F9F9F;
  }
  &__category {
    margin: 8px 0 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: px-to-em(18);
    line-height: lh-to-pct(27, 18);
    text-transform: uppercase;
    color: #32363C;
  }
  &__category-item {
    margin-bottom: 16px;
  }
  &__category-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    line-height: lh-to-pct(19, 16);
    color: #9F9F9F;
  }
  &__category-link:hover {
    color:#009688;
  }
  &__alt-text {
    display: none;
  }
  &__copyright {
    padding: 20px 0;
    border-top: 1px solid #EAEAEA;
    font-family: 'Inter';
    font-weight: 500;
    font-size: px-to-em(14);
    line-height: lh-to-pct(17, 14);
    color: #9F9F9F;
  }
  &__privacy-link {
    text-decoration: none;
    color: #9F9F9F;
  }
  @media screen and (max-width: 1100px) {
    &__area, &__copyright {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 991px) {
    margin-top: 0;
    border-top: none;

    &__area {
      justify-content: space-around;
    }
    &__block {
      margin-left: 15px;
    }
    &__block:first-child {
      width: 100%;
      max-width: 100%;
      z-index: 1;
      margin: 0 auto;
    }
    &__logo-link {
      align-self: center;
    }
    &__logo {
      width: 120px;
      margin: -85% 0 20px 0;
    }
    &__text {
      display: none;
    }
    &__alt-text {
      display: block;
      min-width: 300px;
      margin: 40px auto 0;
      font-family: 'Inter';
      font-weight: 400;
      font-size: px-to-em(14);
      line-height: 130%;
      color: #9F9F9F;
    }
  }
  @media screen and (max-width: 524px) {
    &__block {
      margin-left: 0;
    }
    &__block:last-of-type {
      max-width: 190px;
    }
    &__category-list {
      max-width: 140px;
    }
    &__copyright {
      flex-direction: column;
      align-items: center;
    }
    &__copy {
      margin-bottom: 6px;
    }
  }
  @media screen and (max-width: 360px) {
    &__area {
      justify-content: space-between;
    }
    &__copyright {
      max-width: 320px;
    }
  }
}
