mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__area
      .footer__warning
        a.footer__logo-link(href="#"): img.footer__logo(src="img/logo.svg", alt="Логотип")
        p.footer__text Использование любых материалов с этого сайта возможно только после письменного согласия владельца авторских прав
      .footer__menu-proposal
        h2.footer__proposal Мы предлагаем
        ul.footer__proposal-list
          li.footer__proposal-item: a.footer__proposal-link.footer__coffee(href="#") Кофе оптом
          li.footer__proposal-item: a.footer__proposal-link(href="#") White Label
          li.footer__proposal-item: a.footer__proposal-link(href="#") Бесплатная кофемашина
      .footer__menu-help
        h2.footer__help Помощь
        ul.footer__help-list
          li.footer__help-item: a.footer__help-link(href="#") Частые вопросы
          li.footer__help-item: a.footer__help-link(href="#") Реквизиты
          li.footer__help-item: a.footer__help-link(href="#") О компании ПКМ
      .footer__contacts 
        p.footer__phone: a.footer__phone-link(href="tel:+78126034911") +7 (812) 603 49 11
        ul.footer__socials
          li.footer__social-item
            a.footer__social-link(href="#"): img.footer__social-icon(src="img/tg.svg", alt="Telegram")
          li.footer__social-item
            a.footer__social-link(href="#"): img.footer__social-icon(src="img/ig.svg", alt="Instagram")
          li.footer__social-item
            a.footer__social-link(href="#"): img.footer__social-icon(src="img/vk.svg", alt="VK")
        p.footer__email: a.footer__email-link(href="mailto:info@pcmonline.ru") info@pcmonline.ru
        p.footer__address Санкт-Петербург, наб. Обводного канала д. 24
        a.footer__map-link(href="#") Смотреть на карте
    .footer__copyright
      p.footer__copy © 2013-2021 “ПКМ”
      p.footer__privacy: a.footer__privacy-link(href="#") Политика конфиденциальности