mixin stages(modifier)
  section.stages&attributes(attributes)
    .stages__area
      ul.stages__list
        li.stages__item: p.stages__text Закупаем и привозим свежие зерна кофе со&nbsp;всего мира
        li.stages__item: p.stages__text Обжариваем на&nbsp;технологичных ростерах Typhoon
        li.stages__item: p.stages__text Затем осуществляется контроль качества и&nbsp;каппинг каждой партии
        li.stages__item: p.stages__text Далее отправляем свежеобжаренный кофе на фасовку и упаковку
        li.stages__item: p.stages__text После чего готовый продукт передается в&nbsp;отдел доставки
        li.stages__item: p.stages__text Вы получаете поставку свежего кофе во время и&nbsp;без задержек