.stages {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto 138px;
  
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: section;
  }
  &__item {
    display: flex;
    align-items: flex-end;
    max-width: 335px;
    font-weight: 600;
    font-size: 24px;
    color: #32363C;
  }
  &__item:not(:nth-child(3n))::after {
    content: ">";
    margin-left: 10px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 80px;
    line-height: 105px;
    color: #F5F8F9;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 24px;
    color: #32363C;
  }
  &__text::before {
    counter-increment: section;
    content: "0"counter(section)".";
    margin-bottom: -40px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 119px;
    text-transform: uppercase;
    color: #F5F8F9;
  }
  @media screen and (max-width: 1100px) {
    padding: 15px;
    &__list {
      justify-content: space-around;
    }
    &__item {
      max-width: 294px;
      margin-right: 10px;
    }
    &__item:not(:nth-child(3n))::after {
      display: none;
    }
  }
  @media screen and (max-width: 678px) {
    &__list {
      flex-direction: column;
    }
    &__item {
      margin: 0 0 10px 0;
    }
    &__item:nth-child(even) {
      margin-left: auto;
      text-align: end;
    }
  }
}