mixin production(modifier)
  section.production&attributes(attributes)
    h2.production__title За вкус и качество кофе отвечаем головой
    p.production__text Вкус кофе остается не изменным на&nbsp;регулярной основе от&nbsp;партии к партии, благодаря функциональности новейшего и&nbsp;технологичного оборудования на производстве ПКМ.
    ul.production__stages
      li.production__stage
        h3.production__stage-title Закупаем лучшее сырье
        p.production__stage-text Мы не экономим на сырье, закупаем натуральный кофе с плантаций в странах Эфиопии, Бразилии, Бразилии, Колумбии, Гватемалы, Мексики, Коста-Рики, Гондураса, Эфиопии, Вьетнама, Перу и Сальвадора.
      li.production__stage
        h3.production__stage-title Осуществляем хранение по мировым стандартам
        p.production__stage-text Непосредственно перед обжаркой кофе хранится на складе зеленого кофе, который соответсвует мировым стандартам. Температура воздуха +15°С при относительной влажности 55-60 г/м³
      li.production__stage
        h3.production__stage-title Используем лучшие ростеры для обжарки
        p.production__stage-text Мы обжариваем кофе на новейших ростерах “Typhoon” с запатентованной системой обжарки в кипящем слое. Никогда еще обжарка кофе не была такой равномерной, стабильной и чистой!
      li.production__stage
        h3.production__stage-title Дополнительно очищаем
        p.production__stage-text С помощью дестонера, такого специального аппарата вычленяем из кофе всякие камни и&nbsp;другие инородные элементы, без этого этапа камень может безвозвратно убить кофемолку.
      li.production__stage
        h3.production__stage-title Упаковываем только проверенный кофе
        p.production__stage-text Ваш кофе фасуется по пакетам из полимерного материала с плоским дном, оснащенных дегазационным клапаном, с замком типа «молния». Фасовка в пакеты по 1 кг и 250 гр.
      li.production__stage
        h3.production__stage-title Приглашаем на производство
        p.production__stage-text Приглашаем всех клиентов в гости к нам на производство в городе Санкт-Петербург. Мы&nbsp;регулярно проводим дегустацию новых и зарекомендованных сортов кофе свежей обжарки и у вас есть возможность попробовать и открыть для себя новый вкус кофе.
