mixin staff(modifier)
  section.staff&attributes(attributes)
    .staff__history
      h2.staff__title Наши профессионалы сделают всё на высшем уровне
      a.staff__link-history(href="#") История ПКМ
    ul.staff__list
      li.staff__person
        img.staff__photo(src="img/oleg.jpg", alt="")
        h3.staff__name Олег Булгаков
        p.staff__post Менеджер по работе с оптовыми клиентами
      li.staff__person
        img.staff__photo(src="img/oksana.jpg", alt="")
        h3.staff__name Оксана Павловна
        p.staff__post Представитель компании в Сочи
      li.staff__person
        img.staff__photo(src="img/vitalii.jpg", alt="")
        h3.staff__name Виталий Гончаренко
        p.staff__post Бариста