extends ../templates/template.pug
block content
  +header
  +hello
  +request("Pack","Получите пробник кофе - совершенно бесплатно!")
  +advantages
  +about
  +stages
  //- +principles
  //- +delivery
  //- +production
  //- +sorts
  +request("Holder", "Получите оптовый прайс на весь ассортимент.")
  //- +reviews 
  //- +staff
  //- +subscribe
  //- +pricing
  +request("Cup", "Получите каталог сортов кофе с подробным описанием и оптовыми ценами!")
  //- +footer
  +request("Exam", "И даже без доп. переменных :D")