mixin contacts(cl)
  .contacts&attributes(attributes)(class=cl ? `${cl}__contacts` : "")
      a.contacts__phone-link(href="tel:+78126034911") +7 (812) 603 49 11
      ul.contacts__socials
        li.contacts__social-item
          a.contacts__social-link(href="#")
            include ./img/tg.svg
        li.contacts__social-item
          a.contacts__social-link(href="#")
            include ./img/ig.svg
        li.contacts__social-item
          a.contacts__social-link(href="#")
            include ./img/vk.svg
      a.contacts__email-link(href="mailto:info@pcmonline.ru") info@pcmonline.ru
      p.contacts__address Санкт-Петербург, наб. Обводного канала д. 24
      a.contacts__map-link(href="#") Смотреть на карте