mixin advantages(modifier)
  section.advantages&attributes(attributes)
    .advantages__area
      ul.advantages__list
        li.advantages__item
          img.advantages__icon(src="img/beans.svg" alt="")
          p.advantages__description Закупаем кофе с плантаций без&nbsp;посредников
        li.advantages__item
          img.advantages__icon(src="img/beanRoast.svg" alt="")
          p.advantages__description Обжариваем зерна на&nbsp;собственном производстве
        li.advantages__item
          img.advantages__icon(src="img/coffeeBeans.svg" alt="")
          p.advantages__description Предлагаем доступные цены за&nbsp;преимум качество
