mixin advantages(modifier)
  section.advantages&attributes(attributes)
    .advantages__item
      img.advantages__icon(src="img/beans.png" alt="")
      p.advantages__description Закупаем кофе с плантаций без&nbsp;посредников
    .advantages__item
      img.advantages__icon(src="img/beanRoast.png" alt="")
      p.advantages__description Обжариваем зерна на собственном производстве
    .advantages__item
      img.advantages__icon(src="img/coffeeBeans.png" alt="")
      p.advantages__description Предлагаем доступные цены за&nbsp;преимум качество
