.advantages {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 130px 0 114px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
  }
  &__icon {
    min-width: 120px;
  }
  &__description {
    margin-top: 20px;
    font-weight: 600;
    font-size: px-to-em(20);
    line-height: 120%;
    text-align: center;
    color: #32363C;
  }
  @media screen and (max-width: 1100px) {
    padding: 80px 15px;

    &__item {
      max-width: 300px;
    }
  }
  @media screen and (max-width: 991px) {
    justify-content: space-around;
    padding-bottom: 40px;
 
    &__item {
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 678px) {
    &__icon {
      min-width: 0;
      max-width: 90px;
    }
    &__description {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 360px) {
    &__icon {
      max-width: 80px;
    }
  }
}
