.advantages {
  &__area {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 134px 0 114px;
  }
  &__item {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    min-width: 120px;
  }
  
  &__description {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #32363C;
  }
}
