.pricing {
  width: 100%;
  max-width: 1080px;
  margin: 108px auto 112px;

  &__title {
    max-width: 500px;
    margin-bottom: 8px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    text-transform: uppercase;
    color: #000000;
  }
  &__text {
    max-width: 500px;
    margin: 32px 0;
    font-size: 17px;
    line-height: 140%;
    color: #32363C;
  }
  &__conditions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  &__condition {
    min-width: 500px;
    padding: 30px 58px 78px;
    text-align: center;
    background-color: #F5F8F9;
  }
  &__min-value {
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 119px;
    text-transform: uppercase;
    color: #32363C;
  }
  &__comment {
    font-size: 17px;
    line-height: 140%;
    color: #32363C;
  }
}
