.header {
  &__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 12px 0;
  }
  &__burger-btn, &__mail, &__contacts {
    display: none;
  }
  &__logo-link {
    position: absolute;
    top: 10px;
    left: 0;
    transform: translateX(calc(-100% + -20px));
  }
  &__info {
    @include flex-dir(row, space-between, center);
    width: 100%;
  }
  &__menu-list {
    display: flex;
    flex-wrap: wrap;
  }
  &__menu-item:not(:last-of-type)::after {
    content: "/";
    margin: 0 30px;
    font-weight: 600;
    color: #332F2F;
    opacity: 0.2;
  }
  &__menu-link {
    text-decoration: none;
    font-weight: 600;
    font-size: px-to-em(16);
    line-height: lh-to-pct(19, 16);
    color: #332F2F;
    transition: 0.5s;    
  }
  &__menu-link:hover, &__phone-link:hover {
    color: #009688;
  }
  &__phone-link {
    text-decoration: none;
    font-weight: 600;
    font-size: px-to-em(20);
    line-height: lh-to-pct(24, 20);
    color: #32363C;
    transition: 0.5s;
  }
  &__request-btn {
    margin-left: 30px;
    padding: 20px 40px;
    font-weight: 600;
    font-size: px-to-em(16);
    line-height: lh-to-pct(19, 16);
    color: #32363C;
    border: 2px solid #009688;
    border-radius: 100px;
    outline: none;
    background: none;
    transition: 0.5s;
  }
  &__request-btn:hover {
    background-color: #00B0A0;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    cursor: pointer;
  }

  @media screen and (max-width: 1440px) {
    &__area {
      max-height: 80px;
    }
    &__logo-link {
      position: static;
      transform: translateY(30%);
    }
    &__info {
      margin-left: 10px;
    }
    &__menu-item:not(:last-of-type)::after {
      margin: 0 20px;
    }
  }

  @media screen and (max-width: 1100px) {
    &__area {
      padding: 12px 20px;
    }
    &__menu-item:not(:last-of-type)::after {
      margin: 0 10px;
    }
    &__request-btn {
      margin-left: 10px;
      padding: 16px 36px;
    }
  }

  @media screen and (max-width: 1050px) {
    &__area {
      max-height: 70px;
    }
    &__logo {
      width: 120px;
    }
    &__info {
      margin-left: 4px;
    }
    &__menu-link {
      font-size: px-to-em(14);
      line-height: lh-to-pct(17, 14);   
    }
    &__phone-link {
      font-size: px-to-em(18);
      line-height: lh-to-pct(22, 18);
    }
    &__request-btn {
      padding: 12px 30px;
      font-size: px-to-em(14);
      line-height: lh-to-pct(17, 14);
    }
  }
  @media screen and (max-width: 991px) {
    &__area {
      min-height: 56px;
      max-height: 56px;
      padding-bottom: 0;
    }
    &__mail {
      display: block;
      z-index: 5;
      margin-top: auto;
    }
    &__burger-btn {
      display: block;
      z-index: 5;
      width: 38px;
      margin-top: auto;
      cursor: pointer;
      &--open {
        margin: auto 0;
      }
      &--open .header__burger-line:first-child {
        transform: translateY(11px) rotate(45deg); 
      }
      &--open .header__burger-line:nth-child(2) {
        display: none;
      }
      &--open .header__burger-line:last-child {
        transform: rotate(-45deg);
      }
    }
    &__burger-line {
      width: 30px;
      height: 3px;
      border-radius: 20px;
      transition: 0.5s;
      background-color: #32363C;
      margin-bottom: 8px;
    }
    &__logo-link {
      position: static;
      transform: translateY(35%);
      &--hidden {
        display: none;
      }
    }
    &__info {
      display: none;
      &--open {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 58px 15px;
        background-color: #ffffff;
        transition: 0.5s;
      }
    }
    &__menu-list {
      flex-direction: column;
    }
    &__menu-item {
      padding: 20px 0;
      border-top: 1px solid #EAEAEA;
    }
    &__menu-item:last-child {
      border-bottom: 1px solid #EAEAEA;
    }
    &__menu-item:not(:last-of-type)::after {
      display:none;
    }
    &__menu-link {
      font-size: px-to-em(18);
      line-height: lh-to-pct(22, 18);
      color: #32363C;
    }
    &__request {
      display: none;
    }
  }
}
