mixin header(modifier)
  header.header&attributes(attributes)
    .header__area
      .header__burger-btn
        .header__burger-line
        .header__burger-line
        .header__burger-line
      a.header__logo-link(href="#"): img.header__logo(src="img/logo.png" alt="Логотип")
      .header__info
        nav.header__menu
          ul.header__menu-list
            li.header__menu-item: a.header__menu-link(href="#") Кофе оптом
            li.header__menu-item: a.header__menu-link(href="#") White Label
            li.header__menu-item: a.header__menu-link(href="#") Бесплатная кофемашина
        +contacts("Header")
        .header__request
          a.header__phone-link(href="tel:+78126034911") +7 812 603 49 11
          button.header__request-btn(type="button") Оставить заявку
      img.header__mail(src="img/mail.svg" alt="")