mixin delivery(modifier)
  section.delivery&attributes(attributes)
    .delivery__info
      h2.delivery__title Оперативная и&nbsp;отлаженная доставка свежего кофе
      p.delivery__text Доставляем свежеобжаренный кофе с нашего производства в&nbsp;любую точку России в среднем за 5 дней после заказа.
      p.delivery__text Логистика по всей России отлажена до мелочей. Мы поможем с&nbsp;выбором транспортной компании, которая доставляет в ваш город.
      p.delivery__text Для клиентов из Санкт-Петербурга доставляем кофе на автомобилях компании на следующий день после заказа.
      a.delivery__link Узнать о доставке в мой город
    ul.delivery__logos
      li.delivery__logo: img.delivery__photo(src="img/1.png" alt="СДЭК")
      li.delivery__logo: img.delivery__photo(src="img/2.png" alt="Деловые линии")
      li.delivery__logo: img.delivery__photo(src="img/3.png" alt="ПЭК")
      li.delivery__logo: img.delivery__photo(src="img/4.png" alt="Байкал-сервис")
      li.delivery__logo: img.delivery__photo(src="img/5.png" alt="Dostavka с любовью")
      li.delivery__logo: img.delivery__photo(src="img/6.png" alt="ЖелдорАльянс")