.delivery {
  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 130px auto;
  }
  &__info {
    max-width: 500px;
  }
  &__title {
    margin-bottom: 8px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    text-transform: uppercase;
    color: #1A1C1D;
  }
  &__text {
    margin-top: 32px;
    font-size: 17px;
    line-height: 140%;
    color: #32363C;
  }
  &__link {
    display: inline-block;
    margin-top: 52px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #009688;
    border-bottom: 4px solid transparent;
  }
  &__link::before {
    content: url("../img/delivery-truck.png");
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 14px;
    vertical-align: middle;
  }
  &__link:hover {
    border-bottom: 4px solid #009688;
    cursor: pointer;
  }
  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 504px;
  }
  &__logo:nth-child(n+3) {
    border-top: 1px solid #EAEAEA;
  }
  &__logo:nth-of-type(odd) {
    border-right: 1px solid #EAEAEA;
  }
}
